*{
    margin: 0;
    padding: 0;
}

.pages, #popupPage{
    display: none;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

body{
    background-image: url(./images/principal-background.jpeg);
    height: auto;
    background-size: cover;
    position: relative;
}

#blur{
    background-color: rgba(58, 5, 5, 0.271);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#logo-studioGhibli{
    background: none;
    border: none;
    margin: 20px 40px 0;
}

.logo{
    height: 115px;
    width: 205px;
    padding: 10px 10px 0px;
    cursor: pointer;
}

#buttonsFirstView{
    display:flex;
    margin-right: 40px;
    align-items: flex-end;
}

.buttons{
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 22px;
    margin: 35px;
    cursor: pointer;
}

/* MAIN PAGE */

#homepage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#elements-Text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-p{
    font-size: 35px;
    color: white;
    font-family: 'Lora', serif;
    width: 470px;
    line-height : 60px;
    text-align: center
}

#logo-chihiro{
    width: 220px;
}

#girl-image{
    width: auto;
}

/* ABOUT STUDIO */

#studiopage{
    /* top: 30%;
    right: 10%; */
    position: absolute;
    transform: translate(0, 50%);
}

#info-AboutStudio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgba(58, 5, 5, 0.271);
    padding-right: 30px;
}

h1{
    font-size: 40px;
    font-family: 'Lora', serif;
}

#text{
    width: 800px;
    color: rgb(255, 255, 255);
    font-family: 'Libre Franklin', sans-serif;
    line-height : 30px;
}

#founders{
    height: 370px;
    width: 245px;
    margin: 40px;
    border-radius: 25px;
}

/* Tercera pagina */

.polygon{
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid #ffffff;
    margin: 4px;
}

#buscador{
    background: #ffffff;
    border-radius: 8px;
    border-style: none solid;
    border-color: #ffffff;
    color: rgba(58, 5, 5);
    width: 190px;
    height: 25px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    padding-left: 4px;
    opacity: 80%;
}

::placeholder{
    color: rgba(58, 5, 5);
    font-size: 13px;
}

#rectangle2{
    border-radius: 20px;
    width: 200px;
    background-color: rgba(58, 5, 5, 0.271);
    padding: 24px 0 20px 28px;
    display: flex;
    flex-direction: column;
}

.listProducer,.listDirector{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.tittle{
    font-size: 25px;
    color: #101010;
    font-family: 'Lora', serif;
    padding-bottom: 10px;
}

.filmImages{
    width: 169px;
    height: 236px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(178, 119, 119,0.9);
    border-width: 5px;
    margin-bottom: 40px;
    margin-left: 30px;
}

#popularityAndAlphabetFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#popularityID ul li {
    display: block;
    background-color: rgba(198, 141, 141, 0.9);
    color: #ffffff;
    padding: 4px 4px 4px 4px;
    margin: 4px;
    text-decoration: none;
    border-radius: 5px;
}

#popularityID li:hover{
    color: rgba(58, 5, 5);
    background-color: white;
    font-weight: bold;
} 

ul{
    list-style: none;
}

li, .sortFilters{
    cursor: pointer;
}

#popularityFilter li ul{
    display: none;
    position: absolute
}

#popularityFilter li:hover>ul{
    display: block;
}

.filmPosterImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#popularityFilter{
    display: flex;
}

#generalContainer{
    display: flex;
    padding-left: 20px;
    height: 100vh;
}

#singlePoster{
    width: 200px;
    height: 285px;
}

/* ENTRANDO A CADA PELICULA */

#containerInfoFilmsPage{
    background-color:rgba(58, 5, 5, 0.271);
    margin:50px 100px;
    padding: 40px;
}

#containerFilmData{
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    align-items: center;
}

#filmsInfo{
    padding: 25px 20px;
    display: grid;
    align-content: center;
    color: #101010;
}

#title{
    font-family: 'Lora', serif;
    font-size: 34px;
}

#releaseDate, #producer, #director, #rtScore, .sortFilters{
    font-size: 16.5px;
    font-family: 'Libre Franklin', sans-serif;
}

#description{
    font-size: 17px;
    font-family: 'Libre Franklin', sans-serif;
}


#poster_infoFilmsPage{
    padding: 20px;
    width: 195px;
    height: 297px;
}

#characterssection, #placessection, #vehiclessection{
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    flex-direction: column;
}

.titlesbyData, #filmsButton, .generalInfoTitle{
    font-family: 'Lora', serif;
    font-size: 28px;
    color: #101010;
}

.titlesbyData{
    margin: 20px;
}

.characters,.places,.vehicles, #filmsButton{
    cursor: pointer;
}

.charactersclass{
    width: 97px;
    height: 136px;
    border-radius: 16px;
    margin: 20px;
}

.locationsclass, .vehiclesclass{
    height: 127px;
    width: 166px;
    border-radius: 16px;
    margin: 20px;
}

/* EACH CHARACTER DESKTOP */
.container-general{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}

.generalInfo{
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 40px;
}

#firstData{
    font-size: 35px;
}

#characterImageid, #locationsImageid{
    width: 250px;
    margin-right: 30px;
}

#infoData{
    display: flex;
    color: #101010;
    flex-direction: column;
    align-items: center;
}

#contentcharts{
    display: flex;
    flex-direction: column;
    width: 675px;
    align-items: center;
    background-color:rgba(58, 5, 5, 0.271);
    padding: 40px;
    border-radius: 30px;
}

h3{
    font-family: 'Lora', serif;
    font-size: 24px;
    color: #ffffff;
}

/* For mobile phones: */

@media (max-width: 1200px){

#blur{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
}

.logo {
    height: 231px;
    width: 408px;
}

#buttonsFirstView{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.buttons{
    font-size: 41px;
}



/* MAIN PAGE CSS MOBILE */

#container-principalView{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}    

#homepage{
    display: flex;
    flex-direction: column;
    height: auto;
}

#logo-chihiro{
    width: 455px;
}

#text-p{
    font-size: 50px;
    width: 760px;
    line-height : 90px;

}

#girl-image {
    display: flex;
    width: 116%;
}

/* ABOUT STUDIO MOBILE CSS */

#studiopage{
    position: absolute;
    transform: translate(0%,25%);
}

#info-AboutStudio {
    display: flex;
    flex-direction: column-reverse;
    padding: 60px 60px 0px;
    background-color: rgba(58, 5, 5, 0.271);
}

h1{
    font-size: 60px;
    font-family: 'Lora', serif;
}

#text{
    width: 720px;
    color: rgb(255, 255, 255);
    font-family: 'Libre Franklin', sans-serif;
    line-height : 50px;
    font-size: 30px;
}

#founders {
    height: 600px;
    width: 465px;
    margin-top: 40px;
    border-radius: 50px;
}

/* STATISTICS CSS MOBILE */



}