#studiopage{
    display: none;
}

#filmspage{
    display: none;
}

html{
    width: auto;
}

body{
    background-color: #C7E3E3;
    height: auto;
    width: auto;
}

.logo{
    height: 85px;
    width: 175px;
}

.buttons{
    border-radius: 12px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #4A7375;
    font-family: "Inter";
    font-style: normal;
    font-size: 18px;
    position: relative;
    top: 20px;
}

#buttonsFather{
    display:flex;
    justify-content:space-around;
}

#background-window2{
    height: 550px;
    width: 1265px;
}