#studiopage{
    display: none;
}

#filmspage{
    display: none;
}

#infoFilmsPage{
    display: none;
}

html{
    width: auto;
}

body{
    height: auto;
    width: auto;
    font-family: "Inter";
    background-color: #C7E3E3;
}

.logo{
    height: 85px;
    width: 175px;
}

body{
    height: auto;
    width: auto;
    font-family: "Inter";
    background-color: #F5DDDD;
}

.buttons{
    border-radius: 12px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #4A7375;
    font-family: "Inter";
    font-style: normal;
    font-size: 18px;
    position: relative;
    top: 20px;
}

#buttonsFather{
    display:flex;
    justify-content:space-around;
}

#background-window2{
    width: 1265px;
    height: 550px;
    position: relative;
}

#rectangle1{
    background-color: #FFFFFF;
    opacity: 80%;
    mix-blend-mode: normal;
    width: 1000px;
    height: 500px;
    position: absolute;
}

#studiopage{
    background: #F5DDDD;
    width: 1152px;
    height: 592px;
    
}

h1{
    font-family: "Inter";
    font-style: normal;
    font-size: 34px;
    color: #4A7375;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
}

h2{
    font-family: "Inter";
    font-style: normal;
    font-size: 20px;
    color: #4A7375;   
    font-weight: 400;
    text-align: center;
    width: 600px;
}

#buscador{
    background: #C7E3E3;
    border-radius: 8px;
    border-style: solid;
    border-color: #C7E3E3;
    color: #4A7375;
    width: 190px;
    height: 18px;
    font-family: "Inter";
    font-size: 16px;
}

::placeholder{
    color: #FFFFFF;
    font-family: "Inter";
    font-weight: 400;
}

#generalContainer{
    display: flex;
}

#rectangle2{
    width: 280px;
    height: 467px;
    border-radius: 8px;
    background-color: #C7E3E3;
}

.tittle{
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    color: #4A7375;
}

.listProducer,.listDirector{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #4A7375;
}

.separates{
    width: 243px;
    height: 2px;
    background-color: #4A7375;
}

ul{
    list-style: none;
}

li{
    cursor: pointer;
}

.filmPosterImages{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    cursor: pointer;
}

.filmImages{
    padding: 20px;
    width: 179px;
    height: 246px;
    cursor: pointer;
}